body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
}
section {
    padding: 20px;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
nav a:hover {
    background-color: #555;
}
h1 {
    margin-bottom: 0;
}
h2 {
    color: #333;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    margin-bottom: 10px;
}
a {
    color: #4285f4;
}
a:hover {
    text-decoration: underline;
}
